# Assessment Machine Learning and Statistics

Due: November 29th, 2019

# Remit

## (20%) Describe: 

Create a git repository and make it available online for the lecturer
to clone. The repository should contain all your work for this assessment. Within
the repository, create a jupyter [6] notebook that uses descriptive statistics and
plots to describe the Boston House Prices [1] dataset. This part is worth 20% of
your overall mark.


## (20%) Infer: 

To the above jupyter notebook, add a section where you use inferential
statistics to analyse whether there is a significant difference in median house prices
between houses that are along the Charles river and those that aren’t. You should
explain and discuss your findings within the notebook. This part is also worth
20%.


## (60%) Predict: 

Again using the same notebook, use keras [7] to create a neural network
that can predict the median house price based on the other variables in the dataset.
You are free to interpret this as you wish — for example, you may use all the other
variables, or select a subset. This part is worth 60%.

# Boston House Prices Dataset

## Descriptive Statistics

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning) # imported to suppress future deprecated warnings
import pandas as pd
import matplotlib.pyplot as pl
import seaborn as sns

df=pd.read_csv('data\\boston_house_prices.csv',skiprows=1)
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [4]:
from sklearn.datasets import load_boston
boston = load_boston()
print(boston.data.shape)

(506, 13)

In [5]:
#print(boston.DESCR)

In [6]:
print(boston.feature_names)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [7]:
print(boston.filename)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\datasets\data\boston_house_prices.csv

In [8]:
#print(boston)

## Inferential Statistics

[inferential statistcs](#Statistics)

## Predictive statistics using Keras

# References

## Statistics


1. https://socialresearchmethods.net/kb/statinf.php


## Technical
### Markdown

1. https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html
1. https://www.ibm.com/support/knowledgecenter/en/SSGNPV_1.1.3/dsx/markd-jupyter.html
1. https://www.datacamp.com/community/tutorials/markdown-in-jupyter-notebook
## Keras
1. https://keras.io/